@mixin clearFix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}
@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}
@mixin grid ($max-width, $cols, $rows, $margin) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    width: $max-width;
    margin: auto;
    align-items: center;
    justify-items: center;
}
@mixin div-centered() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}